[Unit]
Description=The Lounge IRC client
After=thelounge.service

[Service]
Type=simple
ExecStart=/usr/bin/thelounge start
User=USER
Group=GROUP
Restart=on-failure
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=default.target

